# Python
__pycache__/
*.py[cod]
*.so
.venv/
*.egg-info/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Cloud creds
*.pem
*.p12
credentials
